.App {
  text-align: center;
}

/* Base styles */
.ele2 {
  position: absolute;
  inset-inline: 0;
  top: -40px;
  z-index: -10;
  transform: translateZ(0);
  overflow: hidden;
  filter: blur(3px);
  pointer-events: none;
}

.element {
  position: relative;
  left: calc(50% - 11rem);
  aspect-ratio: 1155 / 678;
  width: 36.125rem;
  transform: translateX(-50%) rotate(30deg);
  background: linear-gradient(to right, #ff80b5, #9089fc);
  opacity: 0.3;
  clip-path: 'polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)';
}
.gradiant {
  position: absolute;
  left: -15%;
  clip-path: polygon(2% 25%, 100% 0%, 99% 55%, 0% 100%);
  transform: rotate(-10deg);
  opacity: 0.5;
  background: linear-gradient(to top right, #06b6d4, #9089fc);
  width: 80%;
  height: 300px;
}

@media (min-width: 640px) {
  .element {
    left: calc(50% - 30rem);
    width: 72.1875rem;
  }
  .ele2 {
    top: -80px;
  }
}


.App-logo {
  height: 40vmin;

  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
